.card-body, .RGB-wordinput{
  display: flex;
  justify-content:space-around;
}
.color-box{
  border: 1px solid rgb(163, 162, 162);
  border-radius: 5px;
  width: 45px;
  margin: 10px;
}
.hex-num{
  border: 1px solid rgb(163, 162, 162);
  border-radius: 5px;
  width: 150px;
  height: 30px;
  margin: 10px;
  margin-bottom: 15px;
}
.color{
  border: 1px solid rgb(163, 162, 162);
  border-radius: 5px;
  width: 110px;
  height: 110px;
  margin: 10px;
}
.RGB-words{
  margin: 10px;
  font-size:x-large;
}
h5 {
  margin-left: 10px;
}
.card{
  margin: 100px 100px 0 100px;
}
.btn-primary{
  margin: 20px 0 0 20px;
  font-size: larger;
}
.card-RGB, .card-HEX, .card-header{
  font-weight:bolder;
  font-size: x-large;
}
.card-HEX{
  margin-bottom: 15px;
}

.hex-num{
  text-align: center;
  font-weight: 800;
  font-size: medium;
}